.button {
    outline: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
    width: 200px;
    /* margin: auto; */
    height: 50px;
    border: none;
    background-color: #b3b3b3;
    color: white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    opacity: .9;
}

.btn-content {
    
}