.home-page {
    background-color: #1c1a2c;
    min-height: 100vh;
    color: #fff;
    padding: 10px;
}

.home-container {
    margin: 0 10px;
}

.home-notes-wrap {
    display: flex;
    flex-wrap: wrap;
}

.search-container {
    display: flex;
    justify-content: center;
}

.search-wrap {
    width: 80%;
    background-color: #28253b;
    /* border: 2px solid #000; */
    height: 50px;
    display: flex;
    justify-content: center;
}

.search-icon-wrap {
    width: 60px;
    text-align: center;
    line-height: 4.2em;
    color: #757575;
}

.search-field {
    border: none;
    outline: none;
    width: 100%;
    height: inherit;
    background-color: inherit;
    font-size: 1.4em;
    text-indent: 0.5em;
}

.notification {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 3.8em;
}

.home-title {
    margin: 15px 0;
}

.home-title-container {
    display: flex;
}

.add-icon {
    margin: auto 15px;
    cursor: pointer;
}
.add-icon:hover {
    color: #757575; 
}

/* Media Queries */

@media (min-width:320px) and (max-width:480px) {
    .home-title {
        text-align: center;
    }
    .home-notes-wrap {
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .home-title {
        text-align: center;
    }
    .home-notes-wrap {
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home-title {
        text-align: center;
    }
    .home-notes-wrap {
        justify-content: center;
    }
}