body {
    font-family: Arial, Helvetica, sans-serif;
    ;
    margin: 0;
}

a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
    outline: 0;
}

a:hover, a:focus {
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.word-break {
    word-break: break-word;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.red {
    color: #da2727;
}

.gray {
    color: #757575;
}

.cursor-pointer {
    cursor: pointer;
}